spring:
  application:
    name: basket
  profiles:
    active: common
server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

obelix:
  quarry:
    base-url: http://localhost:8081
