spring:
  application:
    name: webshop
  profiles:
    active: common
server:
  port: 8080

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

obelix:
  quarry:
    base-url: http://localhost:8081
